*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
*/*.iml
libpositive/build
payment/build
libmal/build
libengine/build
keyclient/build
sdk/build
libpositivesvc/build
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
libui/build
libdb/build
libconfig/build
libbins/build

