*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
*/*.iml
payment/build
eftinstaller/build
launcher/build
keyclient/build
keylauncher/build
testlauncher/build
positivelauncher/build
paxstoretest/build
reselavon
respxp
resbarclays
restruevoeur
resvalitorliveeur
restoolstation

